header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px #0000000f, 0px 1px 3px 0px #0000001a;
}

header nav a {
    color: #141413;
    width: 226px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

header img {
    width: 43px;
    height: 52px;
}

header h1 {
    margin-left: 10px;
    letter-spacing: -5%;
    font-weight: 400;
}
