header,
header nav a {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    height: 100px;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px #0000000f, 0px 1px 3px 0px #0000001a;
}

header nav a {
    color: #141413;
    width: 226px;
    text-decoration: none;
}

header img {
    width: 43px;
    height: 52px;
}

header h1 {
    margin-left: 10px;
    letter-spacing: -5%;
    font-weight: 400;
}

main {
    padding: 4rem 0;
    margin: 0 auto;
    width: 600px;
    max-width: calc(100% - 50px);
}

main form {
    display: flex;
    justify-content: center;
}

main form {
    gap: 5%;
}

main form input {
    width: 65%;
    height: 38px;
    padding: 9px 13px 9px 13px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    box-shadow: 0px 1px 2px 0px #0000000d;
}

main form button {
    font-family: Inter, sans-serif;
    color: #ffffff;
    width: 30%;
    height: 38px;
    padding: 9px 17px 9px 17px;
    border-radius: 6px;
    border-style: none;
    background: #141413;
    box-shadow: 0px 1px 2px 0px #0000000d;
}

main form button::before {
    content: "+";
    margin-right: 5px;
}

main .ingredientList {
    margin: 3rem 0;
}

main .ingredientList ul {
    color: #475467;
    font-size: 1.2rem;
    line-height: 40px;
    padding-left: 20px;
}

main .callout {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 110px;
    opacity: 0px;
    background-color: #f0efeb;
    border-radius: 8px;
    padding: 25px 45px;
}

main .callout .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55px;
}

main .callout .content h3 {
    font-weight: 500;
}

main .callout .content p {
    font-size: 0.9rem;
    color: #6b7280;
}

main .callout button {
    font-family: Inter, sans-serif;
    background-color: #d17557;
    color: #ffffff;
    width: 115px;
    height: 38px;
    padding: 9px 17px 9px 17px;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px #0000000d;
    border-style: none;
}
