:root {
    font-family: Inter, sans-serif;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fafaf8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
